
<center>
<h1>Welcome to Susumu's Library</h1>
<br/>
<br/>
<br/>
<%= form_tag controller: 'cds', action: 'check_admin' %>
Keyword<%= password_field_tag :keyword%><br/>
<%= submit_tag 'Click me!' %>
</center>
