// Place all the styles related to the cds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr {
  &.header{
    th {
      background-color:#000000;
      color:#ffffff;
      &#ganre {
        width:100px;
      }
      &#artist {
        width:300px;
      }
      &#title {
        width:400px;
      }
      &#year {
        width:80px;
      }
      &#place {
        width:80px;
      }
    }
  }
  &.data {
    td {
      &#odd {
        background-color:#ffffff;
      }
      &#even {
        background-color:#99ffff;
      }
    }
  }
}